// --------------------------------------------- //

@mixin add-player-form-input-button {
  border-radius: $border-radius-default;
  background: $color-theme-darkmode-1;
  color: $color-body-darkmode-2;
  margin: 15px;
  padding: 10px;
}

// --------------------------------------------- //

.add-player-form form {
  background: $color-theme-darkmode-2;
  display: flex;

  #{$light-theme} & {
    background: $color-theme-lightmode-1;
  }
}

// --------------------------------------------- //

.add-player-form input {
  @include add-player-form-input-button;
  font-size: $font-size-primary;
  flex-grow: 1;
  &::placeholder {
    color: $color-body-darkmode-2;
    text-transform: none;
  }
  &:focus {
    background: lighten($color-theme-darkmode-2, 10);
  }

  #{$light-theme} & {
    background: $color-theme-lightmode-2;
    color: $color-body-lightmode-2;
    &::placeholder {
      color: $color-body-lightmode-2;
    }
    &:focus {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

// --------------------------------------------- //

.add-player-form button {
  @include add-player-form-input-button;
  @include button-effect-dark;
  @include button-effect-light;
  font-size: $font-size-secondary;
  margin-left: 0;

  #{$light-theme} & {
    background: $color-theme-lightmode-3;
    color: $color-body-lightmode-2;
  }
}

// --------------------------------------------- //
