// --------------------------------------------- //

$color-crown-inactive-darkmode: $color-border-darkmode;
$color-crown-inactive-lightmode: $color-border-lightmode-grey;
$color-crown-active: #ffc657;

.crown {
  fill: $color-crown-inactive-darkmode;
  height: 16px;
  width: 20.11px;
  margin-right: 10px;
  &.has-crown {
    fill: $color-crown-active;
  }

  #{$light-theme} & {
    fill: $color-crown-inactive-lightmode;
    &.has-crown {
      fill: $color-crown-active;
    }
  }
}

// --------------------------------------------- //

.has-crown {
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% {
    transform: scale(1.4) rotate(-3deg);
  }
}

// --------------------------------------------- //
