# Dependencies
node_modules
bower_components
jspm_packages

# Testing
coverage

# Production (build, distribution)
dist
build

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify