body {
  margin: 0;
  background: $color-back-darkmode;
  color: $color-body-darkmode-1;
}

// Body with "theme-mode-light" class
#{$light-theme} {
  background: $color-back-lightmode;
  color: $color-body-lightmode-1;
}

// Font & Transition
body,
input,
button,
a {
  font-family: $font-stack-primary;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

// Pointer
a,
button,
input[type="submit"] {
  cursor: pointer;
}

// Uppercase
h1,
h2,
button,
input[type="submit"] {
  text-transform: uppercase;
}

// Unselectables
h1,
h2,
button,
input[type="submit"],
input::placeholder {
  user-select: none;
}

// Disable browser's native style
input,
button {
  appearance: none; // appearance is the browser's native style for button, input, checkbox, textarea, etc.
  outline: none; // many browsers display a blue outline when an element is clicked
  text-shadow: none;
  border-style: none;
  border: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}

// Allow text input to have outline for accessibility
input[type="text"] {
  outline: initial;
}

noscript {
  & span {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & a {
    color: #61dafb;
  }
}
