// --------------------------------------------- //

.mode-switch {
  @include button-effect-dark;
  @include button-effect-light;
  font-size: $font-size-secondary;
  border-radius: $border-radius-default;
  position: absolute;
  top: 11px;
  right: 15px;
  margin: 0;
  padding: 10px;
  color: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

// --------------------------------------------- //
