$light-theme: ".light-theme";
$hover-enabled: ".hover-enabled";
$light-hover: ".light-theme.hover-enabled";

// Color - Background
$color-back-darkmode: #1f1f1f;
$color-back-lightmode: #f9f9f9;

// Color - Theme
$color-theme-darkmode-1: #333333;
$color-theme-darkmode-2: #262626;
$color-theme-lightmode-1: #8063fa;
$color-theme-lightmode-2: #5a44ba;
$color-theme-lightmode-3: #44338d;

// Color - Body
$color-body-darkmode-1: #e2e2e2;
$color-body-darkmode-2: #898989;
$color-body-lightmode-1: white;
$color-body-lightmode-2: #c7bcf8;

// Color - Border
$color-border-darkmode: #444;
$color-border-lightmode: #d4caff;
$color-border-lightmode-grey: #eee;

// Color - Counter buttons
$color-counter-increment: #66bb6a;
$color-counter-decrement: #ef5350;

// Fonts
$font-stack-primary: "Lato", sans-serif;
$font-stack-number: "Roboto Mono", monospace;

// Font sizes
$font-size-primary: 14px;
$font-size-secondary: 12px;
$font-size-heading: 24px;
$font-size-number: 26px;
$font-size-player-name: 18px;

// Border radius
$border-radius-default: 5px;
