.not-found {
  @include home-not-found-anchor-button;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #9b9b9b;
  height: 90%;

  p {
    margin: 0;
    margin-bottom: 2em;
  }
}
