.notification {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  background: $color-theme-darkmode-1;
  color: $color-body-darkmode-1;
  border-radius: $border-radius-default;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:active {
    transform: translate(2px, 2px);
  }
  &.slide-in {
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  &.slide-out {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  // Light mode
  #{$light-theme} & {
    background: #ffffff;
    color: #4e4e4e;
  }

  // Child elements
  & svg {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  & span {
    width: 220px;
    display: block;
    font-weight: 500;
  }
}

@keyframes slide-in {
  0% {
    right: -300px;
  }
  100% {
    right: 20px;
  }
}

@keyframes slide-out {
  0% {
    right: 20px;
  }
  100% {
    right: -300px;
  }
}
