// --------------------------------------------- //

.stats {
  font-size: $font-size-secondary;
  padding-left: 34px;
}

// --------------------------------------------- //

.stats td {
  &:first-child {
    color: $color-body-darkmode-2;
    text-align: right;
    padding-right: 4px;
  }
  &:last-child {
    text-align: left;
  }

  #{$light-theme} & {
    &:first-child {
      color: $color-body-lightmode-2;
    }
  }
}

// --------------------------------------------- //
